*{
    outline: 2px solid red;
    font-family: sans-serif;
    background-color: wheat;
}

h1{
    text-align: center;
}

.container{
    background-color: white;
    height: 70px;
    width: 800px;
    font-size: 20px;
    text-align: center;
    margin-left: 500px;
    padding: 70px;
}

a{
    display:block;
}
