*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: wheat;
}

.title{
    margin: 10px;
}

h2{
    margin: 10px;
}

.container{
}

a{
    display: block;
    margin: 10px;
}